.processing-animate {
    background: linear-gradient(270deg, #20c3b6, #258520);
    background-size: 400% 400%;
    
    transform-origin: center center;
    -webkit-animation: processing 1.5s ease infinite, spin 3s infinite linear;
    -moz-animation: processing 1.5s ease infinite, spin 3s infinite linear;
    -o-animation: processing 1.5s ease infinite, spin 3s infinite linear;
    animation: processing 1.5s ease infinite, spin 3s infinite linear;
}

@-webkit-keyframes processing {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes processing {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-o-keyframes processing {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes processing {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}